{:aliases {:test     {:extra-paths ["test"],
                      :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}},
           :runner   {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner",
                                                              :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}},
                      :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]},
           :dev      {:extra-deps  {
                                    com.teknql/shadow-cljs-tailwind-jit {:git/url "https://github.com/fnumatic/shadow-cljs-tailwind-jit"
                                                                         :sha "7a71bd1216fdac1e4aa63e92e5cede07153f66ae"}
                                    binaryage/devtools         {:mvn/version "1.0.3"},
                                    day8.re-frame/re-frame-10x {:mvn/version "1.1.10"}}
                      :extra-paths ["src" "env/dev" "target"]}
           :outdated {:replace-deps {olical/depot {:mvn/version "2.3.0"}}
                      :main-opts  ["-m" "depot.outdated.main"]}},
 :deps    {org.clojure/clojure       {:mvn/version "RELEASE"},
           reagent/reagent           {:mvn/version "1.1.0"},
           ns-tracker/ns-tracker     {:mvn/version "0.4.0"},
           org.clojure/clojurescript {:mvn/version "RELEASE"},
           re-pressed/re-pressed     {:mvn/version "0.3.1"
                                      :exclusions  [re-frame/re-frame 
                                                    reagent/reagent]},
           ;;garden/garden             {:mvn/version "1.3.10"},
           metosin/reitit-schema     {:mvn/version "0.5.15"},
           metosin/reitit-frontend   {:mvn/version "0.5.15"},
           metosin/reitit            {:mvn/version "0.5.15"},
           re-frame/re-frame         {:mvn/version "1.2.0"},
           thheller/shadow-cljs      {:mvn/version "2.16.12"}},
 :paths   ["src" "resources"  "test/cljs"]}
